@using ArenasProyect3Web.Clases
@model IEnumerable<CuentasCLS>
@{
    ViewData["Title"] = "Index";
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3>Listado de Cuentas</h3></div>
        </div>
        <!--end::Row-->
    </div>

    <a class="btn btn-primary mt-4 mb-1 ms-2" asp-controller="Cuentas" asp-action="Agregar" >
        Agregar nueva cuenta
    </a>

    <!--end::Container-->
    <div class="table-responsive">
        <table id="TablaListado" class="table table-hover mt-4">

            <thead>
                <tr>
                    <th style="color:white; background-color:#3B3B3B;">@Html.DisplayNameFor(model => model.Estado)</th>
                    <th style="color:white; background-color:#3B3B3B;">@Html.DisplayNameFor(model => model.IdCuenta)</th>
                    <th style="color:white; background-color:#3B3B3B;">@Html.DisplayNameFor(model => model.Abreviatura)</th>
                    <th style="color:white; background-color:#3B3B3B;">@Html.DisplayNameFor(model => model.DescripcionCuenta)</th>
                    <th style="color:white; background-color:#3B3B3B;">@Html.DisplayNameFor(model => model.CodSunat)</th>
                    <th style="color:white; background-color:#3B3B3B;">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.Estado == 1)
                            {
                                <span class="btn btn-success btn-sm disabled">Activo</span>
                            }
                            else
                            {
                                <span class="btn btn-danger btn-sm disabled">Inactivo</span>
                            }
                        </td>
                        <td>@item.IdCuenta</td>
                        <td>@item.Abreviatura</td>
                        <td>@item.DescripcionCuenta</td>
                        <td>@item.CodSunat</td>
                        <td>
                            <a class="fa fa-edit btn btn-primary" aria-hidden="true" asp-controller="Cuentas" asp-action="Editar" asp-route-id="@item.IdCuenta">
                            </a>
                            <i class="fa fa-trash btn btn-danger" aria-hidden="true" onclick="EliminarCuentas(@item.IdCuenta)">
                            </i>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>

<form asp-controller="Cuentas" asp-action="Eliminar" method="post" id="frmEnviarEliminar">
    <input type="hidden" id="txtIdCuentas" name="IdCuenta" />
</form>


<script src="~/js/sweetalert.js"></script>
<script src="~/js/generic.js"></script>


<script>


    function EliminarCuentas(IdCuenta) {

        document.getElementById("txtIdCuentas").value = IdCuenta;
        MostrarModal().then(res => {
         if (res.value) {
               var EnviarEliminar = document.getElementById("frmEnviarEliminar");
               EnviarEliminar.submit();
          }
      })
    }


</script>
